<div id="menu-container">
    <ion-list class="custom-list">
        <ion-item-group>
            <ion-item class="custom-list-item" (click)="goToHomePage()">
                <ion-icon name="home-outline" [color]="selectedMenuOption() == '/inicio' ? 'secondary' : 'medium'"/>
                <ion-label class="custom-item-label">Início</ion-label>
            </ion-item>
    
            <ion-item class="custom-list-item" (click)="goToRequestsPage()">
                <ion-icon name="list-outline" [color]="selectedMenuOption() == '/solicitacoes' ? 'secondary' : 'medium'"/>
                <ion-label class="custom-item-label">Solicitações</ion-label>
            </ion-item>
    
            <ion-item class="custom-list-item">
                <ion-icon name="people-outline" color="medium"/>
                <ion-label class="custom-item-label">Clientes</ion-label>
            </ion-item>
    
            <ion-item class="custom-list-item">
                <ion-icon name="pie-chart-outline" color="medium"/>
                <ion-label class="custom-item-label">Gráficos de energia</ion-label>
            </ion-item>
    
            <ion-item class="custom-list-item">
                <ion-icon name="speedometer-outline" color="medium"/>
                <ion-label class="custom-item-label">Consulta de medição</ion-label>
            </ion-item>
    
            <ion-item class="custom-list-item">
                <ion-icon name="notifications-outline" color="medium"/>
                <ion-label class="custom-item-label">Webhooks</ion-label>
            </ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider id="menu-options-divider">
                <ion-label>Gerenciamento</ion-label>
            </ion-item-divider>

            <ion-item class="custom-list-item">
                <ion-icon name="person-circle" color="medium"/>
                <ion-label class="custom-item-label">Perfil</ion-label>
            </ion-item>
    
            <ion-item class="custom-list-item">
                <ion-icon name="settings-outline" color="medium"/>
                <ion-label class="custom-item-label">Configurações</ion-label>
            </ion-item>
    
            <ion-item class="custom-list-item">
                <ion-icon name="cash-outline" color="medium"/>
                <ion-label class="custom-item-label">Financeiro</ion-label>
            </ion-item>
    
            <ion-item class="custom-list-item">
                <ion-icon name="folder-outline" color="medium"/>
                <ion-label class="custom-item-label">Log explorer</ion-label>
            </ion-item>
        </ion-item-group>
    </ion-list>
</div>