<div id="menu-container">
    <ion-list>
        <ion-item class="custom-list-item">
            <ion-icon name="home-outline" color="secondary"/>
            <ion-label class="custom-item-label">Início</ion-label>
        </ion-item>

        <ion-item class="custom-list-item">
            <ion-icon name="list-outline" color="medium"/>
            <ion-label class="custom-item-label">Solicitações</ion-label>
        </ion-item>

        <ion-item class="custom-list-item">
            <ion-icon name="people-outline" color="medium"/>
            <ion-label class="custom-item-label">Clientes</ion-label>
        </ion-item>

        <ion-item class="custom-list-item">
            <ion-icon name="pie-chart-outline" color="medium"/>
            <ion-label class="custom-item-label">Gráficos de energia</ion-label>
        </ion-item>

        <ion-item class="custom-list-item">
            <ion-icon name="speedometer-outline" color="medium"/>
            <ion-label class="custom-item-label">Consulta de medição</ion-label>
        </ion-item>

        <ion-item class="custom-list-item">
            <ion-icon name="notifications-outline" color="medium"/>
            <ion-label class="custom-item-label">Webhooks</ion-label>
        </ion-item>
    </ion-list>
</div>