#menu-container {
    width: 100%;
    height: 100%;
    background: #454545;

    

    
    .custom-list {
        padding-bottom: 0;
        
        --ion-item-background: #454545;

        ion-item-divider {
            --background: #454545;
        }
        
        .custom-list-item {
            cursor: pointer;
            margin-bottom: .5rem;
            
            .custom-item-text {
                margin-left: .5rem;
                font-size: .9rem;
            }
        }

        :last-child {
            margin-bottom: 0;
        }

        #menu-options-divider {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}