<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="measurement-queries-table-wrapper">
                <div id="content-header">
                    <ion-text color="dark">
                        <h2>Consulta de medição</h2>
                    </ion-text>

                    <ion-icon name="filter-outline" color="medium" size="large"></ion-icon>
                </div>

                <div id="search-company-container">
                    <div id="search-company-wrapper">
                        <ion-input placeholder="Pesquise pelo nome ou CNPJ do cliente" fill="outline">
                            <ion-icon slot="start" name="search-outline" color="medium" aria-hidden="true"></ion-icon>
                        </ion-input>
                    </div>
                </div>
    
                <table>
                    <thead>
                        <tr>
                            <th>Nome da empresa</th>
                            <th>Situação financeira</th>
                            <th>Consumo último mês</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        @for (measure of measurementQueries; track measure.company){
                            <tr class="table-custom-row">
                                <td>{{measure.company}}</td>
                                <td><ion-label color="success">{{measure.situation}}</ion-label></td>
                                <td>{{measure.consumptionHistory[0].march.consumptionMonth}} kWh</td>
                                <td (click)="goToMeasurementQueryCustomerPage()" class="consumption-report-column">Relatório de consumo</td>
                                <td><ion-icon (click)="goToMeasurementQueryCustomerPage()" name="chevron-forward-outline" color="medium" [size]="isMobile() ? 'small': 'large'"></ion-icon></td>
                            </tr>
                        }

                        <!-- <tr class="table-custom-row">
                            <td>DigitalHealth Tech</td>
                            <td><ion-label color="success">última fatura paga</ion-label></td>
                            <td>100.000 kWh</td>
                            <td (click)="goToMeasurementQueryCustomerPage()" class="consumption-report-column">Relatório de consumo</td>
                            <td><ion-icon (click)="goToMeasurementQueryCustomerPage()" name="chevron-forward-outline" color="medium" [size]="isMobile() ? 'small': 'large'"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>MediaTech Solutions</td>
                            <td><ion-label color="success">última fatura paga</ion-label></td>
                            <td>100.000 kWh</td>
                            <td (click)="goToMeasurementQueryCustomerPage()" class="consumption-report-column">Relatório de consumo</td>
                            <td><ion-icon (click)="goToMeasurementQueryCustomerPage()" name="chevron-forward-outline" color="medium" [size]="isMobile() ? 'small': 'large'"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>TechFood Delivery</td>
                            <td><ion-label color="danger">3 faturas em atraso</ion-label></td>
                            <td>100.000 kWh</td>
                            <td (click)="goToMeasurementQueryCustomerPage()" class="consumption-report-column">Relatório de consumo</td>
                            <td><ion-icon (click)="goToMeasurementQueryCustomerPage()" name="chevron-forward-outline" color="medium" [size]="isMobile() ? 'small': 'large'"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>CleanTech Innovations</td>
                            <td><ion-label color="success">última fatura paga</ion-label></td>
                            <td>100.000 kWh</td>
                            <td (click)="goToMeasurementQueryCustomerPage()" class="consumption-report-column">Relatório de consumo</td>
                            <td><ion-icon (click)="goToMeasurementQueryCustomerPage()" name="chevron-forward-outline" color="medium" [size]="isMobile() ? 'small': 'large'"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>EduTech Academy</td>
                            <td><ion-label color="success">última fatura paga</ion-label></td>
                            <td>100.000 kWh</td>
                            <td (click)="goToMeasurementQueryCustomerPage()" class="consumption-report-column">Relatório de consumo</td>
                            <td><ion-icon (click)="goToMeasurementQueryCustomerPage()" name="chevron-forward-outline" color="medium" [size]="isMobile() ? 'small': 'large'"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>AgriTech Farming Solutions</td>
                            <td><ion-label color="danger">3 faturas em atraso</ion-label></td>
                            <td>100.000 kWh</td>
                            <td (click)="goToMeasurementQueryCustomerPage()" class="consumption-report-column">Relatório de consumo</td>
                            <td><ion-icon (click)="goToMeasurementQueryCustomerPage()" name="chevron-forward-outline" color="medium" [size]="isMobile() ? 'small': 'large'"></ion-icon></td>
                        </tr> -->
                    </tbody>
                </table>

                <div id="table-footer">
                    <span id="count-span">Mostrando 7 de 7</span>
                </div>
            </div>
        </div>
    </div>
</main>