<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="measurement-queries-table-wrapper">
                <div id="content-header">
                    <ion-text color="dark">
                        <h2>Consulta de medição</h2>
                    </ion-text>

                    <ion-icon name="filter-outline" color="medium" size="large"></ion-icon>
                </div>

                <div id="search-company-container">
                    <div id="search-company-wrapper">
                        <ion-input placeholder="Pesquise pelo nome ou CNPJ do cliente" fill="outline">
                            <ion-icon slot="start" name="search-outline" color="medium" aria-hidden="true"></ion-icon>
                        </ion-input>
                    </div>
                </div>
    
                <table>
                    <thead>
                        <tr>
                            <th>Nome da empresa</th>
                            <th>Situação financeira</th>
                            <th>Consumo último mês</th>
                            @if(!isPhone()) {
                                <th></th>
                            }
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        @for (measure of measurementQueries; track measure.company){
                            <tr class="table-custom-row">
                                <td>{{measure.company}}</td>
                                @if (measure.situation == 'última fatura paga') {
                                    <td><ion-label color="success">{{measure.situation}}</ion-label></td>
                                } @else {
                                    <td><ion-label color="danger">{{measure.situation}}</ion-label></td>
                                }
                                <td>{{measure.consumptionHistory[0].march.consumptionMonth}} kWh</td>
                                @if(!isPhone()) {
                                    <td (click)="goToMeasurementQueryCustomerPage(measure.companyId)" class="consumption-report-column">Relatório de consumo</td>
                                }
                                <td><ion-icon (click)="goToMeasurementQueryCustomerPage(measure.companyId)" name="chevron-forward-outline" color="medium" [size]="isMobile() ? 'small': 'large'"></ion-icon></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div id="table-footer">
                    <span id="count-span">Mostrando {{measurementQueries?.length}} de {{measurementQueries?.length}}</span>
                </div>
            </div>
        </div>
    </div>
</main>