<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="customer-wrapper">
                <ion-text color="dark">
                    <h5>{{customerData?.company}}</h5>
                </ion-text>

                <ion-text color="medium">
                    <span>CNPJ: 01.010.001/0001-11</span>
                </ion-text>

                <div id="customer-data-columns-wrapper">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Status</h5>
                                </ion-text>

                                @if(customerData?.status == 'active') {
                                    <ion-text color="success">
                                        <h3 id="customer-status">ATIVO</h3>
                                    </ion-text>
                                }
                                @else {
                                    <ion-text color="medium">
                                        <h3 id="customer-status">INATIVO</h3>
                                    </ion-text>
                                }
                            </ion-col>
                            
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Código de perfil</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>110</h3>
                                </ion-text>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Data de atualização</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>2024-03-28 T00:24:56-03:00</h3>
                                </ion-text>
                            </ion-col>
                            
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Data de início da vigência do contrato</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>2024-03-28 T21:00:00-03:00</h3>
                                </ion-text>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Número de documento</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>11157227783</h3>
                                </ion-text>
                            </ion-col>
                            
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Tipo conectado</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>DISTRIBUIDORA_SUPRIDORA</h3>
                                </ion-text>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Código conectado</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>117</h3>
                                </ion-text>
                            </ion-col>
                            
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Código da unidade consumidora</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>112</h3>
                                </ion-text>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Situação da unidade consumidora</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>ATIVA</h3>
                                </ion-text>
                            </ion-col>
                            
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>ID</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>f01fd91f-6f0b-4a2f-ac5c-2d356059aeab</h3>
                                </ion-text>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Tipo de documento</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>CPF - 001.234.567-89</h3>
                                </ion-text>
                            </ion-col>
                            
                            <ion-col>
                                <ion-text color="medium">
                                    <h5>Código do varejista</h5>
                                </ion-text>

                                <ion-text color="dark">
                                    <h3>200012</h3>
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>

                <ion-button color="success">EXIBIR HISTÓRICO DE CONSUMO</ion-button>
            </div>
        </div>
    </div>
</main>