<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="my-logs-wrapper">
                <ion-text color="dark">
                    <h2>Log Explorer</h2>
                </ion-text>

                <ion-list>
                    <ion-item>
                        <div class="custom-log-item-row">
                            <ion-icon name="alert-circle" color="warning" size="large"></ion-icon>

                            <div class="left-side-log-row">
                                <div class="log-text-wrapper">
                                    <ion-text color="dark">
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                                    </ion-text>
                                    <ion-text color="dark">
                                        <h6>Ver mais</h6>
                                    </ion-text>
                                </div>
                            </div>
                            
                            <div class="right-side-log-row">
                                <ion-text color="medium">
                                    <h6>12/05 14:30</h6>
                                </ion-text>
                            </div>
                        </div>
                    </ion-item>

                    <ion-item>
                        <div class="custom-log-item-row">
                            <ion-icon name="alert-circle" color="warning" size="large"></ion-icon>

                            <div class="left-side-log-row">
                                <div class="log-text-wrapper">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
                                    <h6>Ver menos</h6>
                                </div>
                            </div>
                            
                            <div class="right-side-log-row">
                                <ion-text color="medium">
                                    <h6>12/05 14:29</h6>
                                </ion-text>
                            </div>
                        </div>
                    </ion-item>

                    <ion-item>
                        <div class="custom-log-item-row">
                            <ion-icon name="alert-circle" color="warning" size="large"></ion-icon>

                            <div class="left-side-log-row">
                                <div class="log-text-wrapper">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <h6>Ver mais</h6>
                                </div>
                            </div>
                            
                            <div class="right-side-log-row">
                                <ion-text color="medium">
                                    <h6>12/05 14:28</h6>
                                </ion-text>
                            </div>
                        </div>
                    </ion-item>

                    <ion-item>
                        <div class="custom-log-item-row">
                            <ion-icon name="alert-circle" color="warning" size="large"></ion-icon>

                            <div class="left-side-log-row">
                                <div class="log-text-wrapper">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <h6>Ver mais</h6>
                                </div>
                            </div>
                            
                            <div class="right-side-log-row">
                                <ion-text color="medium">
                                    <h6>12/05 14:27</h6>
                                </ion-text>
                            </div>
                        </div>
                    </ion-item>

                    <ion-item>
                        <div class="custom-log-item-row">
                            <ion-icon name="alert-circle" color="warning" size="large"></ion-icon>

                            <div class="left-side-log-row">
                                <div class="log-text-wrapper">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <h6>Ver mais</h6>
                                </div>
                            </div>
                            
                            <div class="right-side-log-row">
                                <ion-text color="medium">
                                    <h6>12/05 14:26</h6>
                                </ion-text>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>

                <ion-text color="medium">
                    <span>Mostrando 10 de 690</span>
                </ion-text>
            </div>
        </div>
    </div>
</main>