main {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: white;

    #main-page-wrapper {
        width: 100%;
        display: flex;

        #menu-wrapper {
            width: 15%;
        }

        #main-content-wrapper {
            width: 85%;
            display: flex;
            flex-direction: column;
            padding: 2rem;

            #requests-buttons-actions {
                :first-child {
                    margin-right: 1rem;
                }
            }

            #my-requests-table-wrapper {
                width: 100%;
                border: 1px solid #b7b7b7;
                border-radius: 1rem;
                margin-top: 2rem;
                padding: 1rem;

                h2 {
                    margin-bottom: 3rem;
                }

                table {
                    width: 100%;
                    text-align: center;

                    thead {
                        color: #9f9f9f;
                        font-weight: 400;
                        font-size: .9rem;

                        th {
                            padding-bottom: .5rem;
                        }
                    }

                    tbody {
                        color: black;
                        
                        .table-custom-row {
                            border-top: 1px solid #b7b7b7;
                            border-bottom: 1px solid #b7b7b7;

                            td {
                                padding: .5rem 0;
                            }
                        }
                    }
                }

                span {
                    color: #92949C;
                    font-size: .8rem;
                    display: inline-block;
                    margin-top: 1rem;
                }
            }
        }
    }
}