<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="webhooks-buttons-actions">
                <ion-button color="success">CRIAR NOVO WEBHOOK</ion-button>
            </div>
    
            <div id="active-webhooks-table-wrapper">
                <div id="content-header">
                    <ion-text color="dark">
                        <h2>Webhooks ativos</h2>
                    </ion-text>

                    <ion-icon name="filter-outline" color="medium" size="large"></ion-icon>
                </div>
    
                <table>
                    <thead>
                        <tr>
                            <th>Gatilhos</th>
                            <th>URL</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        @for(hook of webhooks; track hook.id){
                            <tr class="table-custom-row">
                                <td>{{hook.trigger}}</td>
                                <td>{{hook.url}}</td>
                                <td class="forward-icon"><ion-icon name="trash-outline" color="medium" [size]="isMobile() ? 'small' : 'large'"></ion-icon></td>
                                <td class="forward-icon"><ion-icon name="chevron-forward" color="medium" [size]="isMobile() ? 'small' : 'large'"></ion-icon></td>
                            </tr>
                        }

                        <!-- <tr class="table-custom-row">
                            <td>Troca de representante rejeitada</td>
                            <td>http://endereco-test...1287308</td>
                            <td class="forward-icon"><ion-icon name="trash-outline" color="medium" [size]="isMobile() ? 'small' : 'large'"></ion-icon></td>
                            <td class="forward-icon"><ion-icon name="chevron-forward" color="medium" [size]="isMobile() ? 'small' : 'large'"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>Migração aceita</td>
                            <td>http://endereco-test...1287308</td>
                            <td class="forward-icon"><ion-icon name="trash-outline" color="medium" [size]="isMobile() ? 'small' : 'large'"></ion-icon></td>
                            <td class="forward-icon"><ion-icon name="chevron-forward" color="medium" [size]="isMobile() ? 'small' : 'large'"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>Migração rejeitada</td>
                            <td>http://endereco-test...1287308</td>
                            <td class="forward-icon"><ion-icon name="trash-outline" color="medium" [size]="isMobile() ? 'small' : 'large'"></ion-icon></td>
                            <td class="forward-icon"><ion-icon name="chevron-forward" color="medium" [size]="isMobile() ? 'small' : 'large'"></ion-icon></td>
                        </tr> -->
                    </tbody>
                </table>

                <div id="table-footer">
                    <span id="count-span">Mostrando {{webhooks?.length}} de 4</span>
                </div>
            </div>
        </div>
    </div>
</main>