<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="webhooks-buttons-actions">
                <ion-button color="success">CRIAR NOVO WEBHOOK</ion-button>
            </div>
    
            <div id="active-webhooks-table-wrapper">
                <ion-text color="dark">
                    <h2>Webhooks ativos</h2>
                </ion-text>
    
                <table>
                    <thead>
                        <tr>
                            <th>Gatilhos</th>
                            <th>URL</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr class="table-custom-row">
                            <td>Troca de representante aceita</td>
                            <td>http://endereco-teste.com.br/mock/128730813892</td>
                            <td><ion-icon name="trash-outline" color="medium" size="large"></ion-icon></td>
                            <td><ion-icon name="chevron-forward" color="medium" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>Troca de representante rejeitada</td>
                            <td>http://endereco-teste.com.br/mock/128730813892</td>
                            <td><ion-icon name="trash-outline" color="medium" size="large"></ion-icon></td>
                            <td><ion-icon name="chevron-forward" color="medium" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>Migração aceita</td>
                            <td>http://endereco-teste.com.br/mock/128730813892</td>
                            <td><ion-icon name="trash-outline" color="medium" size="large"></ion-icon></td>
                            <td><ion-icon name="chevron-forward" color="medium" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>Migração rejeitada</td>
                            <td>http://endereco-teste.com.br/mock/128730813892</td>
                            <td><ion-icon name="trash-outline" color="medium" size="large"></ion-icon></td>
                            <td><ion-icon name="chevron-forward" color="medium" size="large"></ion-icon></td>
                        </tr>
                    </tbody>
                </table>

                <div id="table-footer">
                    <span id="count-span">Mostrando 4 de 4</span>
                </div>
            </div>
        </div>
    </div>
</main>