<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="my-notifications-wrapper">
                <div id="content-header">
                    <ion-text color="dark">
                        <h2>Minhas notificações</h2>
                    </ion-text>

                    <ion-icon name="filter-outline" color="medium" size="large"></ion-icon>
                </div>

                <ion-list>
                    @for(notification of notifications; track notification.id) {
                        <ion-item>
                            <div class="custom-notification-item-row">
                                <ion-icon name="alert-circle" color="warning" size="large"></ion-icon>
    
                                <div class="left-side-notification-row">
                                    <div class="notification-text-wrapper">
                                        <ion-text color="dark">
                                            <h3>{{notification?.content}}</h3>
                                        </ion-text>
                                        <ion-text color="medium">
                                            <ion-text color="medium">
                                                <h6>Ver mais</h6>
                                            </ion-text>
                                        </ion-text>
                                    </div>
                                </div>
                                
                                <div class="right-side-notification-row">
                                    <ion-text color="medium">
                                        <h6>{{notification?.datetime}}</h6>
                                    </ion-text>
                                </div>
                            </div>
                        </ion-item>
                    }
                </ion-list>

                <div id="table-footer">
                    <span id="count-span">Mostrando {{notifications?.length}} de 690</span>
                    <ion-button fill="clear" color="primary" size="small">Ver mais</ion-button>
                </div>
            </div>
        </div>
    </div>
</main>