<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="customers-buttons-actions">
                <ion-button color="success">CADASTRAR NOVO CLIENTE</ion-button>
            </div>
    
            <div id="my-active-customers-table-wrapper">
                <div class="content-header">
                    <ion-text color="dark">
                        <h2>Clientes ativos</h2>
                    </ion-text>

                    <ion-icon name="filter-outline" color="medium" size="large"></ion-icon>
                </div>
    
                <table>
                    <thead>
                        <tr>
                            <th>Nome da empresa</th>
                            <th>Data de cadastro</th>
                            <th>Plano</th>
                            <th>Status do serviço</th>
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr class="table-custom-row">
                            <td>SunWave Energy Solutions</td>
                            <td>20/05/2024</td>
                            <td>Basic</td>
                            <td><ion-button color="success" size="small">Ativa</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>DigitalHealth Tech</td>
                            <td>20/05/2024</td>
                            <td>Basic</td>
                            <td><ion-button color="success" size="small">Ativa</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>MediaTech Solutions</td>
                            <td>20/05/2024</td>
                            <td>Basic</td>
                            <td><ion-button color="warning" size="small">Em manutenção</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>TechFood Delivery</td>
                            <td>20/05/2024</td>
                            <td>Basic</td>
                            <td><ion-button color="success" size="small">Ativa</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>CleanTech Innovations</td>
                            <td>20/05/2024</td>
                            <td>Basic</td>
                            <td><ion-button color="success" size="small">Ativa</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>EduTech Academy</td>
                            <td>20/05/2024</td>
                            <td>Basic</td>
                            <td><ion-button color="success" size="small">Ativa</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>AgriTech Farming Solutions</td>
                            <td>20/05/2024</td>
                            <td>Basic</td>
                            <td><ion-button color="success" size="small">Ativa</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>
                    </tbody>
                </table>

                <div class="table-footer">
                    <span id="count-span">Mostrando 7 de 7</span>
                </div>
            </div>

            <div id="my-inactive-customers-table-wrapper">
                <div class="content-header">
                    <ion-text color="dark">
                        <h2>Clientes inativos</h2>
                    </ion-text>

                    <ion-icon name="filter-outline" color="medium" size="large"></ion-icon>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Nome da empresa</th>
                            <th>Data de cancelamento</th>
                            <th>Status do serviço</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr class="table-custom-row">
                            <td>FinTech Express</td>
                            <td>20/05/2024</td>
                            <td><ion-button color="medium" size="small">Inativo</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>BioTech Innovations</td>
                            <td>20/05/2024</td>
                            <td><ion-button color="medium" size="small">Inativo</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>

                        <tr class="table-custom-row">
                            <td>RoboTech Systems</td>
                            <td>20/05/2024</td>
                            <td><ion-button color="medium" size="small">Inativo</ion-button></td>
                            <td><ion-icon color="medium" name="chevron-forward-outline" size="large"></ion-icon></td>
                        </tr>
                    </tbody>
                </table>

                <div class="table-footer">
                    <span id="count-span">Mostrando 3 de 3</span>
                </div>
            </div>
        </div>
    </div>
</main>