<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="indicators-row">
                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Faturamento total
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            R$200.000.000
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Energia gerada
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            920.000 kWh
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Novos clientes
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            542
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Inadimplência
                        </h2>
                    </ion-text>
                    <ion-text color="danger" class="indicator-value">
                        <h3>
                            R$2.000.000
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Novos leads
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            15.542
                        </h3>
                    </ion-text>
                </div>
            </div>

            <div id="general-status-row">
                <div class="status-wrapper">
                    <div class="status-header">
                        <ion-text color="dark" class="status-header-custom-text">Notificações</ion-text>
                        <ion-button size="small" color="success">2 novas</ion-button>
                    </div>

                    <div class="status-content">
                        <ion-list class="status-custom-list">
                            <ion-item class="status-custom-item">
                                <div class="item">
                                    <div class="notification-data">
                                        <ion-icon name="alert-circle" color="warning"></ion-icon>
                                        <ion-text class="custom-text">Manunteção do sistema</ion-text>
                                    </div>
                                    <div class="notification-log-datetime">
                                        <ion-text color="medium">12/05 14:27</ion-text>
                                    </div>
                                </div>
                            </ion-item>

                            <ion-item class="status-custom-item">
                                <div class="item">
                                    <div class="notification-data">
                                        <ion-icon name="checkmark-circle" color="success"></ion-icon>
                                        <ion-text class="custom-text">Migração concluída</ion-text>
                                    </div>
                                    <div class="notification-log-datetime">
                                        <ion-text color="medium">12/05 08:03</ion-text>
                                    </div>
                                </div>
                            </ion-item>

                            <ion-item class="status-custom-item" [disabled]="true">
                                <div class="item">
                                    <div class="notification-data">
                                        <ion-icon name="checkmark-circle" color="medium"></ion-icon>
                                        <ion-text class="custom-text">Troca de fornecedor</ion-text>
                                    </div>
                                    <div class="notification-log-datetime">
                                        <ion-text color="medium">11/05 06:00</ion-text>
                                    </div>
                                </div>
                            </ion-item>
                        </ion-list>

                        <ion-button (click)="goToNotificationsPage()" color="success" fill="outline" size="small" id="show-all-notifications-button">Ver todas</ion-button>
                    </div>
                </div>

                <div class="status-wrapper">
                    <div class="status-header">
                        <ion-text class="status-header-custom-text">Solicitações em andamento</ion-text>
                        <ion-button size="small" color="dark">2 novas</ion-button>
                    </div>

                    <div class="status-content">
                        <ion-list class="status-custom-list">
                            <ion-item class="status-custom-item">
                                <div class="item">
                                    <ion-text>SunWave Energy Solutions</ion-text>
                                    <ion-button color="success">Migração aprovada</ion-button>
                                </div>
                            </ion-item>

                            <ion-item class="status-custom-item">
                                <div class="item">
                                    <ion-text>SunWave Energy Solutions</ion-text>
                                    <ion-button color="success">Migração aprovada</ion-button>
                                </div>
                            </ion-item>

                            <ion-item class="status-custom-item">
                                <div class="item">
                                    <ion-text>SunWave Energy Solutions</ion-text>
                                    <ion-button color="success">Migração aprovada</ion-button>
                                </div>
                            </ion-item>
                        </ion-list>

                        <ion-button (click)="goToRequestsPage()" color="success" fill="outline" size="small" id="show-all-notifications-button">Ver todas</ion-button>
                    </div>
                </div>
            </div>

            <div id="energy-chart-row">
                <div class="energy-chart-header">
                    <ion-text id="energy-chart-header-text" color="dark">Gráfico de energia</ion-text>
                </div>

                <div class="energy-chart-content">

                </div>
            </div>
        </div>
    </div>
</main>