<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="indicators-row">
                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Faturamento total
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            {{user?.totalRevenue | currency: 'BRL'}}
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Energia gerada
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            {{user?.generatedEnergy}} kWh
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Novos clientes
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            {{user?.newCustomers}}
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Inadimplência
                        </h2>
                    </ion-text>
                    <ion-text color="danger" class="indicator-value">
                        <h3>
                            {{user?.totalDefaultAmount | currency: 'BRL'}}
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Novos leads
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            {{user?.newLeads}}
                        </h3>
                    </ion-text>
                </div>
            </div>

            <div id="general-status-row">
                <div class="status-wrapper">
                    <div class="status-header">
                        <ion-text color="dark" class="status-header-custom-text">Notificações</ion-text>
                        <ion-button size="small" color="success">2 novas</ion-button>
                    </div>

                    <div class="status-content">
                        <ion-list class="status-custom-list">
                            @for (notification of notifications; track notification.id) {
                                <ion-item class="status-custom-item">
                                    <div class="item">
                                        <div class="notification-data">
                                            @if(notification.status == 'not-seen' && notification.type == 'warn') {
                                                <ion-icon name="alert-circle" color="warning"></ion-icon>
                                            }

                                            @if(notification.status == 'not-seen' && notification.type == 'success') {
                                                <ion-icon name="checkmark-circle" color="success"></ion-icon>
                                            }

                                            @if(notification.status == 'seen' && notification.type=='success'){
                                                <ion-icon name="checkmark-circle" color="medium"></ion-icon>
                                            }

                                            @if(notification.status == 'not-seen') {
                                                <ion-text class="custom-text">{{ notification?.title }}</ion-text>
                                            }

                                            @if(notification.status == 'seen') {
                                                <ion-text class="custom-text" color="medium">{{ notification?.title }}</ion-text>
                                            }

                                        </div>
                                        <div class="notification-log-datetime">
                                            <ion-text color="medium">{{ notification?.datetime }}</ion-text>
                                        </div>
                                    </div>
                                </ion-item>
                            }

                            <!-- <ion-item class="status-custom-item">
                                <div class="item">
                                    <div class="notification-data">
                                        <ion-icon name="alert-circle" color="warning"></ion-icon>
                                        <ion-text class="custom-text">Manunteção do sistema</ion-text>
                                    </div>
                                    <div class="notification-log-datetime">
                                        <ion-text color="medium">12/05 14:27</ion-text>
                                    </div>
                                </div>
                            </ion-item>

                            <ion-item class="status-custom-item">
                                <div class="item">
                                    <div class="notification-data">
                                        <ion-icon name="checkmark-circle" color="success"></ion-icon>
                                        <ion-text class="custom-text">Migração concluída</ion-text>
                                    </div>
                                    <div class="notification-log-datetime">
                                        <ion-text color="medium">12/05 08:03</ion-text>
                                    </div>
                                </div>
                            </ion-item>

                            <ion-item class="status-custom-item" [disabled]="true">
                                <div class="item">
                                    <div class="notification-data">
                                        <ion-icon name="checkmark-circle" color="medium"></ion-icon>
                                        <ion-text class="custom-text">Troca de fornecedor</ion-text>
                                    </div>
                                    <div class="notification-log-datetime">
                                        <ion-text color="medium">11/05 06:00</ion-text>
                                    </div>
                                </div>
                            </ion-item> -->
                        </ion-list>

                        <ion-button (click)="goToNotificationsPage()" color="success" fill="outline" size="small" id="show-all-notifications-button">Ver todas</ion-button>
                    </div>
                </div>

                <div class="status-wrapper">
                    <div class="status-header">
                        <ion-text class="status-header-custom-text">Solicitações em andamento</ion-text>
                    </div>

                    <div class="status-content">
                        <ion-list class="status-custom-list">
                            @for(request of requests; track request.id) {
                                <ion-item class="status-custom-item">
                                    <div class="item">
                                        <ion-text>{{request.company}}</ion-text>
                                        @if (isPhone()) {
                                            @if(request.status == 'success') {
                                                <ion-button color="success"></ion-button>
                                            }
    
                                            @if(request.status == 'waiting') {
                                                <ion-button color="warning"></ion-button>
                                            }
    
                                            @if(request.status == 'failure') {
                                                <ion-button color="danger"></ion-button>
                                            }

                                        } @else {
                                            @if(request.status == 'success') {
                                                <ion-button color="success">{{request.statusText}}</ion-button>
                                            }
    
                                            @if(request.status == 'waiting') {
                                                <ion-button color="warning">{{request.statusText}}</ion-button>
                                            }
    
                                            @if(request.status == 'failure') {
                                                <ion-button color="danger">{{request.statusText}}</ion-button>
                                            }
                                        }
                                    </div>
                                </ion-item>
                            }
                        <!-- <ion-item class="status-custom-item">
                                <div class="item">
                                    <ion-text>SunWave Energy Solutions</ion-text>
                                    <ion-button color="success">Migração aprovada</ion-button>
                                </div>
                            </ion-item>

                            <ion-item class="status-custom-item">
                                <div class="item">
                                    <ion-text>SunWave Energy Solutions</ion-text>
                                    <ion-button color="success">Migração aprovada</ion-button>
                                </div>
                            </ion-item> -->
                        </ion-list>

                        <ion-button (click)="goToRequestsPage()" color="success" fill="outline" size="small" id="show-all-notifications-button">Ver todas</ion-button>
                    </div>
                </div>
            </div>

            <div id="energy-chart-row">
                <div class="energy-chart-header">
                    <ion-text id="energy-chart-header-text" color="dark">Gráfico de energia</ion-text>
                </div>

                <div class="energy-chart-content">

                </div>
            </div>
        </div>
    </div>
</main>