main {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: white;

    #main-page-wrapper {
        width: 100%;
        display: flex;

        #menu-wrapper {
            width: 15%;
        }

        #main-content-wrapper {
            width: 85%;
            display: flex;
            flex-direction: column;
            padding: 2rem;

            h2 {
                margin-bottom: 1.55rem;
                font-size: 1.25rem;
                font-weight: 700;
            }

            #charts-options-row {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .option-wrapper {
                    border: 1px solid #b7b7b7;
                    border-radius: 1rem;
                    width: 100%;
                    padding: 1rem;
                    margin: 0 .5rem;
                    
                    h3 {
                        color: black;
                        font-weight: 700;
                        font-size: 1rem;
                    }
                }

                :first-child {
                    margin-left: 0;
                }

                :last-child {
                    margin-right: 0;
                }
            }

            #chart {
                font-weight: 700;
                margin-top: 2rem;
                padding: 1rem;
                border: 1px solid #b7b7b7;
                border-radius: 1rem;
                min-height: 60vh;
            }
        }
    }
}