<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="charts-options-row">
                <div class="option-wrapper">
                    <ion-label>Consumo de energia</ion-label>
                </div>

                <div class="option-wrapper">
                    <ion-label>Padrões de uso</ion-label>
                </div>

                <div class="option-wrapper">
                    <ion-label>Fontes de energia</ion-label>
                </div>

                <div class="option-wrapper">
                    <ion-label>Eficiência energética</ion-label>
                </div>

                <div class="option-wrapper">
                    <ion-label>Custos</ion-label>
                </div>
            </div>

            <div id="chart">
                <ion-label>Consumo de energia</ion-label>
            </div>
        </div>
    </div>
</main>