<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <ion-text color="dark">
                <h2>Relatórios de energia</h2>
            </ion-text>

            <div id="charts-options-row">
                <div class="option-wrapper">
                    <ion-text>
                        <h3>
                            Consumo de energia
                        </h3>
                    </ion-text>
                </div>

                <div class="option-wrapper">
                    <ion-text>Padrões de uso</ion-text>
                </div>

                <div class="option-wrapper">
                    <ion-text>Fontes de energia</ion-text>
                </div>

                <div class="option-wrapper">
                    <ion-text>Eficiência energética</ion-text>
                </div>

                <div class="option-wrapper">
                    <ion-text>Custos</ion-text>
                </div>
            </div>

            <div id="chart">
                <ion-text id="energy-chart-header-text" color="dark">Consumo de energia</ion-text>

                <ion-card-content>
                    <canvas #lineCanvas></canvas>
                </ion-card-content>
            </div>
        </div>
    </div>
</main>