<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="charts-options-row">
                <div class="option-wrapper">
                    <ion-text color="dark">Faturamento total</ion-text>
                </div>

                <div class="option-wrapper">
                    <ion-text color="dark">Padrões de uso</ion-text>
                </div>

                <div class="option-wrapper">
                    <ion-text color="dark">Fontes de energia</ion-text>
                </div>

                <div class="option-wrapper">
                    <ion-text color="dark">Eficiência energética</ion-text>
                </div>

                <div class="option-wrapper">
                    <ion-text color="dark">Custos</ion-text>
                </div>
            </div>

            <div id="chart">
                <ion-text color="dark">Faturamento</ion-text>
            </div>
        </div>
    </div>
</main>