<main>
    <app-header></app-header>

    <div id="main-page-wrapper">
        <div id="menu-wrapper">
            <app-menu></app-menu>
        </div>

        <div id="main-content-wrapper">
            <div id="finances-indicators-row">
                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Faturamento total
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            R$200.000.000
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Energia gerada
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            920.000 kWh
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Novos clientes
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            542
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Inadimplência
                        </h2>
                    </ion-text>
                    <ion-text color="danger" class="indicator-value">
                        <h3>
                            R$2.000.000
                        </h3>
                    </ion-text>
                </div>

                <div class="indicator-wrapper">
                    <ion-text color="dark">
                        <h2>
                            Novos leads
                        </h2>
                    </ion-text>
                    <ion-text color="success" class="indicator-value">
                        <h3>
                            15.542
                        </h3>
                    </ion-text>
                </div>
            </div>

            <div id="chart">
                <ion-text color="dark">Faturamento</ion-text>

                <ion-card-content>
                    <canvas #lineCanvas></canvas>
                </ion-card-content>
            </div>
        </div>
    </div>
</main>