@media(max-width: 576px) {
    main {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background: #ebebeb;
        min-height: 100vh;
    
        #main-page-wrapper {
            width: 100%;
            display: flex;
    
            #menu-wrapper {
                display: none;
                visibility: hidden;
            }
    
            #main-content-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 2rem 1rem;
    
                #client-data-wrapper, #btns-wrapper {
                    width: 50%;
                }
    
                #client-data-wrapper {
    
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
    
                        .custom-label {
                            font-weight: 700;
                        }
    
                        .custom-input {
                            margin-top: .5rem;
                            color: black;
                        }
                    }
    
                    #client-secret-input-wrapper {
                        margin-top: 1.5rem;
                    }
    
                }
    
                #btns-wrapper {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    main {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background: #ebebeb;
        min-height: 100vh;
    
        #main-page-wrapper {
            width: 100%;
            display: flex;
    
            #menu-wrapper {
                display: none;
                visibility: hidden;
            }
    
            #main-content-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 2rem 1rem;
    
                #client-data-wrapper, #btns-wrapper {
                    width: 50%;
                }
    
                #client-data-wrapper {
    
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
    
                        .custom-label {
                            font-weight: 700;
                        }
    
                        .custom-input {
                            margin-top: .5rem;
                            color: black;
                        }
                    }
    
                    #client-secret-input-wrapper {
                        margin-top: 1.5rem;
                    }
    
                }
    
                #btns-wrapper {
                    margin-top: 1rem;
                }
            }
        }
    }    
}

@media (min-width: 769px) and (max-width: 992px) {
    main {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background: #ebebeb;
        min-height: 100vh;
    
        #main-page-wrapper {
            width: 100%;
            display: flex;
    
            #menu-wrapper {
                display: none;
                visibility: hidden;
            }
    
            #main-content-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 2rem 1rem;
    
                #client-data-wrapper, #btns-wrapper {
                    width: 50%;
                }
    
                #client-data-wrapper {
    
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
    
                        .custom-label {
                            font-weight: 700;
                        }
    
                        .custom-input {
                            margin-top: .5rem;
                            color: black;
                        }
                    }
    
                    #client-secret-input-wrapper {
                        margin-top: 1.5rem;
                    }
    
                }
    
                #btns-wrapper {
                    margin-top: 1rem;
                }
            }
        }
    }       
}

@media (min-width: 993px) and (max-width: 1200px) {
    main {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background: #ebebeb;
        min-height: 100vh;
        
        #main-page-wrapper {
            width: 100%;
            display: flex;
    
            #menu-wrapper {
                width: 15%;
            }
    
            #main-content-wrapper {
                width: 85%;
                display: flex;
                flex-direction: column;
                padding: 2rem;
    
                #client-data-wrapper, #btns-wrapper {
                    width: 50%;
                }
    
                #client-data-wrapper {
    
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
    
                        .custom-label {
                            font-weight: 700;
                        }
    
                        .custom-input {
                            margin-top: .5rem;
                            color: black;
                        }
                    }
    
                    #client-secret-input-wrapper {
                        margin-top: 1.5rem;
                    }
    
                }
    
                #btns-wrapper {
                    margin-top: 1rem;
                }
            }
        }
    }    
}

@media(min-width: 1201px) and (max-width: 1400px) {
    main {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background: #ebebeb;
        min-height: 100vh;
        
        #main-page-wrapper {
            width: 100%;
            display: flex;
    
            #menu-wrapper {
                width: 15%;
            }
    
            #main-content-wrapper {
                width: 85%;
                display: flex;
                flex-direction: column;
                padding: 2rem;
    
                #client-data-wrapper, #btns-wrapper {
                    width: 50%;
                }
    
                #client-data-wrapper {
    
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
    
                        .custom-label {
                            font-weight: 700;
                        }
    
                        .custom-input {
                            margin-top: .5rem;
                            color: black;
                        }
                    }
    
                    #client-secret-input-wrapper {
                        margin-top: 1.5rem;
                    }
    
                }
    
                #btns-wrapper {
                    margin-top: 1rem;
                }
            }
        }
    }    
}

@media (min-width: 1401px) and (max-width: 1920px) {
    main {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background: #ebebeb;
        min-height: 100vh;
        
        #main-page-wrapper {
            width: 100%;
            display: flex;
    
            #menu-wrapper {
                width: 15%;
            }
    
            #main-content-wrapper {
                width: 85%;
                display: flex;
                flex-direction: column;
                padding: 2rem;
    
                #client-data-wrapper, #btns-wrapper {
                    width: 50%;
                }
    
                #client-data-wrapper {
    
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
    
                        .custom-label {
                            font-weight: 700;
                        }
    
                        .custom-input {
                            margin-top: .5rem;
                            color: black;
                        }
                    }
    
                    #client-secret-input-wrapper {
                        margin-top: 1.5rem;
                    }
    
                }
    
                #btns-wrapper {
                    margin-top: 1rem;
                }
            }
        }
    }    
}

@media (min-width: 1921px) {
    main {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background: #ebebeb;
        min-height: 100vh;
        
        #main-page-wrapper {
            width: 100%;
            display: flex;
    
            #menu-wrapper {
                width: 15%;
            }
    
            #main-content-wrapper {
                width: 85%;
                display: flex;
                flex-direction: column;
                padding: 2rem;
    
                #client-data-wrapper, #btns-wrapper {
                    width: 50%;
                }
    
                #client-data-wrapper {
    
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
    
                        .custom-label {
                            font-weight: 700;
                        }
    
                        .custom-input {
                            margin-top: .5rem;
                            color: black;
                        }
                    }
    
                    #client-secret-input-wrapper {
                        margin-top: 1.5rem;
                    }
    
                }
    
                #btns-wrapper {
                    margin-top: 1rem;
                }
            }
        }
    }    
}